body {
	background: url(img/5ec6e72dbc77e.jpg) 0/auto 100% no-repeat;
	height: 100vh;
	overflow: hidden;
	display: grid;
	align-items: center;
}
.key_containers {
	color: #000000;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 0 auto;
	
}
.key {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2px;
	background-color: #00000080;
	max-width: 90px;
	width: 100%;
	padding: 10px;
	transition: all 0.15s;
}
kbd {
	font-size: 20px;
	font-weight: bold;
}
span {
	color: rgb(255, 0, 0);
	font-style: italic;
}
.play{
border: 1px solid rgb(255, 0, 0);
transform: scale(0.9);
box-shadow: 0 0 10px 1px rgb(255, 0, 0);
}