body{text-align: center;
grid-template-columns: 1fr 1fr;
background-color: rgb(175, 140, 140);}

    .genButton{
    background-color: black;
color: pink;
padding: 10px 20px;
font-size: 16px;
border: none;
border-radius: 5px;
position: relative;
overflow: hidden;
cursor: pointer;
width: 200px;
row-gap: center;}

.sizeButtons{background-color: black;
    color: pink;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 80px;
    row-gap: center;
margin-left: 2px;}

.change{text-align: center;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 5px;}
    .idBlock{
   text-align: center;
margin: 0 auto;}